head
  title Your Account - HiLink
  link(rel='stylesheet', type="text/css", href='css/swiper.min.css')
  link(rel='stylesheet', type="text/css", href='css/animate.min.css')
  link(rel='stylesheet', type="text/css", href='css/wSelect.css')
  link(rel='stylesheet', type="text/css", href='css/app.css')
  script(type='text/javascript', src='js/jquery-1.7.2.min.js')
  script(type='text/javascript', src='js/swiper.min.js')
  script(type='text/javascript', src='js/wow.js')
  link(rel="icon", href="i/Hi3.jpg", type="image/x-icon")
body
  -var id=m_id
  h1= "Hi, " + id + "!"
  hr
  h2= "User center under construction..."
  br
  a(href="/logout")
    | Logout
  br
  a(href="/")
    | Back to home page
